numpy     # BSD 3-Clause "New" or "Revised" License <https://github.com/numpy/numpy>
Pillow    # HPND License <https://github.com/python-pillow/Pillow>
rapidfuzz # MIT License <https://github.com/maxbachmann/RapidFuzz>
